<div class="hero">
  <br />
  <div class ="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn something new today!</h1>
    <br />    
    <h3>New content added daily</h3>
    <br />    
    <%= link_to 'Learn more', courses_path, class: "btn btn-success" %>
    <br /><br />    
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Feature 1</h3>
  </div>

  <div class="col-sm-4">
    <h3>Feature 2</h3>
  </div>

  <div class="col-sm-4">
    <h3>Feature 3</h3>
  </div>
</div>