<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">Learn something today</h1>
  <hr />

  <% @course.each do |course| %>
    <h2 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h2>
    <br />
    <div class="col-sm-8 col-xs-12">
      <%= course.description %>
    </div>
    <div class="col-sm-4 col-xs-12 text-center">
      <%= link_to 'More details...', course_path(course), class: 'btn btn-primary btn-large' %>
    </div>
    <br class="clr" />
  <% end %>
</div>